main {
  margin-block: var(--spacing-xl);
  max-width: 90ch;
  margin-inline: auto;
  padding-inline: 2.5rem;
  padding-bottom: var(--spacing-xl);
  border-bottom: 0.0625rem solid rgba(0,0,0,0.1);

  p {
    text-wrap: pretty;

    &:not(last-child){
      margin-bottom: var(--spacing-sm);
    }
  }
}

.signature {
  font-weight: bold;
}