<header class="navbar">
  <nav>
    <%= link_to "Chris Allen", root_path, class: "brand" %>
  </nav>

  <nav>
    <details>
      <summary>Menu</summary>
      <div class="nav-links">
        <%= link_to "Chris Allen", root_path, class: "brand" %>
        <%= link_to 'Components', '/lookbook' %>
      </div>
    </details>
  </nav>
</header>