<header class="navbar">
  <nav>
    <%= render(LinkComponent.new(url: root_path, scheme: 'accent').with_content("Chris Allen"))%>
  </nav>

  <nav>
    <details>
      <summary>Menu</summary>
      <div class="nav-links">
        <%= render(LinkComponent.new(url: root_path, scheme: 'light').with_content("Chris Allen"))%>
        <%= render(LinkComponent.new(url: '/lookbook', scheme: 'light').with_content("Components"))%>
      </div>
    </details>
  </nav>
</header>