<main>
  <article>
    <%= render(TitleComponent.new(semantic_tag: 'h1', size: 'xxl').with_content("Welcome!")) %>
    <p>The purpose of this site is for me to continue learning my craft.</p>
    <p>This site is built with ruby on rails. I will do my best to keep it mostly free of libraries and frameworks, opting to master the basics of web development in the most vanilla way possible.</p>
    <p>The one framework i will be using is viewComponent for ruby as I find it a great way to understand how component driven web development works.</p>
    <p>If you would like to contact me please feel free to send me an <a href="mailto:chrishughallen@gmail.com">email.</a></p>
    <p class="signature">- Chris</p>
  </article>
</main>

<main>
  <%= link_to 'Components', '/lookbook' %>
</main>